# IDE
.idea/
*.iml

# ОС
.DS_Store
Thumbs.db

# Maven
target/
!.gitkeep

# Логи и временные файлы
*.log
*.tmp
*.swp

# Allure report: оставляем итоговый отчет, но игнорируем мусор
target/allure-results/
target/site/
!target/
!target/site/
!target/site/allure-maven-plugin/
.allure/